<%- include('partials/head.ejs'); %>

<h1 class="details-title"><%- launchDataId.name %></h1>
<p class="details-description"><%- launchDataId.details %></p>

<!-- launchpadinfo -->
<div class='extrainfo'>

    <div class='launchpadinfo hoverscale'>

      <img class='launchpad-img' src='/img/launchpad.jpg'>
      <h2 class='launchpad-title'>Launchpad</h2>
      <h3 class='launchpad-name'><%- launchpadData.name %></h3>
      <p class='launchpad-location'>Location: <%- launchpadData.locality %>, <%- launchpadData.region %></p>

    </div>

    <!-- payloadinfo -->
    <div class='payloadinfo hoverscale'>

        <img class='payload-img' src='/img/payload.jpg'>
        <h2 class='payload-title'>Payload</h2>
        <h3 class='payload-type'>Type: <%- payloadData.type %></h3>
        <p class='payload-kg'>mass kg: <%- payloadData.mass_kg %></p>

    </div>

</div>

<div class="details-countdown">

    <div class="countdown-wrap">
      <div class="countdown-days"></div>
      <div class="countdown-label">Days</div>
    </div>

    <div class="countdown-wrap">
      <div class="countdown-hours"></div>
      <div class="countdown-label">Hours</div>
    </div>

    <div class="countdown-wrap">
      <div class="countdown-minutes"></div>
      <div class="countdown-label">Minutes</div>
    </div>

    <div class="countdown-wrap">
      <div class="countdown-seconds"></div>
      <div class="countdown-label">Seconds</div>
    </div>

</div>

<% const ejsLaunchData = launchDataNext; %>

<script type='text/javascript'>
const launchData = <%- JSON.stringify(launchDataNext) %>

//The launchdate from spacex API
const launchdate = new Date(launchData.date_utc).getTime();

const updateCountdown = setInterval(function() {

  // Current time
  const now = new Date().getTime();

  const timeleft = launchdate - now;

  const days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
  const hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  const minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
  const seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

  const countdownDays = document.querySelector('.countdown-days');
  const countdownHours = document.querySelector('.countdown-hours');
  const countdownMinutes = document.querySelector('.countdown-minutes');
  const countdownSeconds = document.querySelector('.countdown-seconds');

  countdownDays.innerHTML = days;
  countdownHours.innerHTML = hours;
  countdownMinutes.innerHTML = minutes;
  countdownSeconds.innerHTML = seconds;

}, 1000)
</script>

<img class='flightpatch-img' src='<%- launchDataNext.links.patch.small %>'>

<div class="backbutton">
    <a href="/">❮</a>
</div>

<%- include('partials/footer.ejs'); %>